# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.zip
*.xlsx
*.lock*  # libre office temp files
*.000
*bak
*cache
*.bck
*.kicad_pcb-bak
*~
*.xdp*
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb
gerber*
*lock*
*-backups*
*auto_saved*
plots*
*.kicad_prl
*.lck
*.dcm
meta*
fp-lib-table
sym-lib-table

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
*.gb*
*.gt*
*.gm*
*.rar
*.drl

# BOM Files / Notes in Libre office
*.ods
boms/
*.html

# Exported BOM files
*.xml
*.csv

# Images
*.png
*.svg

